<h1>Vista de productos</h1>
{{#if listExists}}
<table class="table table-primary table-hover">
  <thead class="table-info">
    <tr>
      <th>Título</th>
      <th>Precio</th>
      <th>Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.price}}</td>
      <td>{{this.urlPicture}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}

{{#unless listExists}}
<h2>No hay productos</h2>
{{/unless}}

<form method="GET" action="http://localhost:8080/">
  <button type="submit">Ir a agregar un producto</button>
</form>