.frameForm {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form {
  width: 300px;
}

.frameTable {
  display: flex;
  justify-content: center;
}

.frameTable2 {
  width: 700px;
}

.frameFormChat {
  display: flex;
  align-content: center;
  justify-content: center;
}

.formChat {
  width: 900px;
}

.message {
  display: inline-block;
  color: saddlebrown;
}

.row {
  width: 1200px;
}
